<div class="login-page-container">
	<mat-card class="login-form-container">
		<mat-card class="login-form-container">
			<form (submit)="register()">
				<div class="form-group">
					<div class="form-group">
						<mat-form-field [hideRequiredMarker]="false" [floatLabel]="true">
							<input matInput type="text" class="form-control" name="name" placeholder="Username" [(ngModel)]="credentials.name">
						</mat-form-field>
					</div>
				</div>
				<div class="form-group">
					<mat-form-field [hideRequiredMarker]="false" [floatLabel]="true">
						<input matInput type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="credentials.email">
					</mat-form-field>
				</div>
				<div class="form-group">
					<mat-form-field [hideRequiredMarker]="false" [floatLabel]="true">
						<input matInput type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
					</mat-form-field>
				</div>
				<button mat-raised-button color="primary" type="submit" class="btn btn-default">Register!</button>
			</form>
		</mat-card>
	</mat-card>
</div>