<div class="login-page-root">
	<mat-toolbar>
		<span>Log in to Perpetual Shred</span>
	</mat-toolbar>
	<div class="login-page-container">
		<mat-card class="login-form-container">
			<form (submit)="login()">
				<div class="form-group">
					<mat-form-field [hideRequiredMarker]="false" [floatLabel]="true">
						<input matInput type="email" class="form-control" name="email" placeholder="Email Address" [(ngModel)]="credentials.email">
					</mat-form-field>
				</div>
				<div class="form-group">
					<mat-form-field [hideRequiredMarker]="false" [floatLabel]="true">
						<input matInput type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
					</mat-form-field>
				</div>
				<div class="login-form-button-row">
					<button mat-raised-button color="primary" type="submit" class="btn btn-default">Log in</button>
					<button mat-raised-button color="secondary" type="button" (click)="cancel()">Cancel</button>
				</div>
			</form>
		</mat-card>
	</div>
</div>