<mat-drawer-container *ngIf="currentVid" class="home-container" [hasBackdrop]="false">
	<mat-drawer #sidebar class="sidebar-container" #drawer opened="true" mode="over" position="end">
		<div *ngIf="sidebarOpen" class="sidebar-toggle-button" (click)="closeSidebar()">
			<mat-icon>arrow_forward</mat-icon>
		</div>
		<app-sidebar [vid]="currentVid" [playerReference]="playerReference"></app-sidebar>
	</mat-drawer>
	<mat-drawer-content class="body-container">
		<app-player [vid]="currentVid" (playerReference)="setPlayerReference($event)" (vidEnded)="selectRandomVid()"></app-player>
		<div *ngIf="!sidebarOpen" class="sidebar-toggle-button" (click)="openSidebar()">
			<mat-icon>menu</mat-icon>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
