<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Update Video</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Title" formControlName="title" #title>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Description" formControlName="description" #description>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Origin" formControlName="origin" #origin></textarea>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Release Date" formControlName="releaseDate" #releaseDate></textarea>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Url" formControlName="url" #url></textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/admin">Back</button>&nbsp;
      <button type="submit" (click)="updateVid(title.value, description.value, origin.value, releaseDate.value, url.value)"
        [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>
